html{font-family:sans-serif;-webkit-backface-visibility:hidden;-webkit-text-size-adjust:none}
a,b,body,button,dd,del,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,input,label,li,p,span,strong,u,ul{margin:0;padding:0}
body{font:16px/1.5 tahoma,arial,simsun;color:#000;background:#fff;-webkit-text-size-adjust:none}
li,ul{list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;clear:both}
h1,h2,h3,h4,h5,h6{font-size:100%}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0;font-family:inherit}
textarea{resize:none}
input{-webkit-tap-highlight-color:transparent;background:0 0}
button,html input[type=button],input[type=search],input[type=submit]{-webkit-appearance:none}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a{text-decoration:none;color:#333}
a:active,a:focus,a:hover{color:#c00;text-decoration:none;outline:0 none}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
table{border-collapse:collapse;border-spacing:0}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn-clear{zoom:1}
.clearfix{display:block;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;clear:all}
.break{word-break:break-all;word-wrap:break-word}


/* layout */
html, body, .page-wrap { width: 100%; height: 100%; overflow: hidden; }
.page-wrap { overflow-y: scroll; }
.container { width: 640px; min-height: 100%; overflow: hidden; margin: 0 auto; position: relative; }
.page-item { width: 100%; position: absolute; left: 0; top: 0; overflow: hidden; -webkit-transform: translate(640px, 0); transform: translate(640px, 0); -webkit-transition-property: -webkit-transform; transition-property: transform; }
.blank { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 55; display: none; }

/* loading */
.loading { width: 0; height: 100%; position: fixed; overflow: hidden; left: 0; top: 0; background: rgba(0, 0, 0, .2); z-index: 555; opacity: 0; -webkit-transition: opacity .3s ease-in; transition: opacity .3s ease-in }
.spin { width: 60px; height: 8px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto }
.spin i { width: 16px; height: 8px; background: #fff; display: inline-block; -webkit-animation: spin 1s infinite ease-in-out; animation: spin 1s infinite ease-in-out }
.spin i:nth-child(2) { -webkit-animation-delay: .3s; animation-delay: .3s; margin: 0 6px }
.spin i:nth-child(3) { -webkit-animation-delay: .6s; animation-delay: .6s }
@-webkit-keyframes spin {
	0%, 100% { opacity: .3 }
	30% { opacity: .6 }
	60% { opacity: .9 }
}
@keyframes spin {
	0%, 100% { opacity: .3 }
	30% { opacity: .6 }
	60% { opacity: .9 }
}

/* page */
.page-1 { height: 1000px; background: url(../images/s1.jpg) no-repeat; }
.page-2 { height: 600px; }
.page-3 { height: 1000px; }
.page-4 { height: 1500px; }
.page-5 { height: 600px; }
.page-6 { height: 1500px; }

.page-2.page-in {  background: url(../images/s2.jpg) no-repeat; }
.page-3.page-in {  background: url(../images/s3.jpg) no-repeat; }
.page-4.page-in {  background: url(../images/s4.jpg) no-repeat; }
.page-5.page-in {  background: url(../images/s5.jpg) no-repeat; }
.page-6.page-in {  background: #c09; }


.link a{ width: 70%; height: 60px; line-height: 60px; text-align: center; background-color: rgba(255, 255, 255, .7); cursor: pointer; display: block; margin: 30px auto 0; -webkit-border-radius: 3px; border-radius: 3px;}
.pic{ text-align: center; margin-top: 30px;}









